* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c5bad6;
}

.planner  {
  position: relative;
  margin: 0 auto;
  height: 100vh;
  width: 800px;
  color: #323232;
  background-color: #fff;
  &__front {
    display: flex;
    flex-direction: column;
  }
}

